doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title Document
    body 
        header 
            h1 Zoom Cloning
        main
            div
                p Participants
                ul#participants
            form#nickname-form
                label#nickname-label(for="nickname-input")
                input#nickname-input(type="text", placeholder="Choose your nickname", required)
                button Save 
            ul#message-list
            form#message-form
                input#message-input(type="text", placeholder="Write a message", required)
                button Send
        script(src="public/js/app.js")