doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css")
        title Document
    body 
        header
            h1(class="text-2xl text-left sm:text-center mt-4 font-bold mb-4") Welcome to Noom
        main.px-4.flex.justify-center
            form#enter-room__form(class="w-full sm:max-w-md border rounded p-4 mb-2")
                input.w-full.p-2.border.rounded.outline-none.mb-2(name="nickname", type="text",  placeholder="닉네임을 입력해주세요.")
                input.w-full.p-2.border.rounded.outline-none.mb-2(name="room-name", type="text",  placeholder="방 이름을 입력해주세요.")
                button(class="text-white w-full p-2 border rounded bg-blue-600 hover:bg-blue-500 transition duration-300") 방 들어가기
                p#enter-room__message(class="italic text-red-700")

        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")
