doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title Document
    body 
        header 
            h1 Zoom Cloning
        main
            div
                section
                    aside(style="width: 450px; display: flex; flex-direction: column; align-items: center")
                        video#my-face(autoplay, playsinline, width="400", height="400")
                        div(style="display: flex; flex-direction: column; align-items: center")
                            select#my-face__select-camera(style="width: 400px;")
                            button#my-face__mute(style="width: 200px;") Mute
                            button#my-face__toggle-camera(style="width: 200px;") Turn camera off

        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")
