doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title Document
    body 
        header 
            h1 Zoom Cloning
        main
            div#welcome
                form#room-form
                    label(for="room-name") Room Name
                    input#room-name(value="Default", placeholder="Room name", required, type="text")
                    label(for="room-nick") Nickname
                    input#room-nick(value="DefaultNick", placeholder="Nickname for chat", required, type="text")
                    button Enter Room
            div#chat-container
                ul#messages
                form#message-form
                    input(placeholder="Write messages here", required, type="text")
                    button Send

        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")
